#getNumber {
    font-size: 22px;
    text-align: center;
  }
  
  .inputNumberBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #paragraph {
    margin-left: 20px;
    background-color: green;
    color: white;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .header {
    background-color: rgb(64, 125, 175);
    color: rgb(205, 205, 221);
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  
  
  .instructions {
    background-color: lightblue;
    color: rgb(72, 72, 177);
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .whole {
      background-color: rgb(24, 87, 92);
  }

